body {
  background-color: black;
  font-family: helvetica, sans-serif;
  font-size: 25px;
  color: white;
  padding: 0;
  margin: 1px;
}

div {
  padding-top: 5px;
  padding-bottom: 5px;
}

.clock {
  text-align: center;
  font-size: 2em;
}

.header {
  text-align: center;
}

.room {
  text-align: center;
  font-size: .5em;
}

#startClock {
  background-color: darkgreen;
}

#stopClock {
  background-color: darkred;
}
