body {
  font-family: helvetica, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 18px;
  background-color: #ccc;
  background: url('images/wallpaper.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.box {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  box-shadow: 5px 5px 5px;
  background-color: rgba(255,255,255,.66);
  width: 300px;
  box-sizing: border-box;
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.forget {
  font-size: .9em;
  text-decoration: none;
  font-weight: lighter;
  font-family: helvetica, sans-serif;
  color: black;
}

.forgetwrapper {
  text-align: center;
}

.notice {
  background-color: rgba(0,255,0,0.75);
  color: darkgreen;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: .5em;
  width: 280px;
  top: 5em;
  text-align: center;
}

.pi {
  font-weight: bold;
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-size: 1.2em;
  text-shadow: 0 0 10px white;
}

.warning {
  background-color: rgba(255,0,0,0.75);
  color: pink;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: .5em;
  width: 280px;
  top: 5em;
  text-align: center;
}

.loginbox ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.loginbox input {
  font-size: 1.2em;
  margin-bottom: .3em;
}

.loginbox form ul li input {
  box-sizing: border-box;
  width: 100%;
}

button {
  width: 100%;
  padding: .5em;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 5px;
  margin-top: .5em;
}

.logo {
  background-image: url('images/jworgcyberm.png');
  width: 280px;
  height: 280px;
  box-shadow: 5px 5px 5px;
  margin-top: 1em;
}
