body {
  background-color: black;
  font-family: helvetica, sans-serif;
  font-size: 25px;
  color: white;
  padding: 0;
  margin: 1px;
}

table {
  width: 42%;
  display: inline-block;
  vertical-align: center;
}

form {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.admintable {
  width: 100% !important;
}

.rankings {
  display: inline-block;
  width: 16%;
  vertical-align: top;
  background-color: white;
  color: black;
  top: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.rankings h4,
.rankings ol {
  margin: .25em;
}

.rankings ol li {
  font-size: .8em;
}

table tr:nth-child(even) {
  background-color: #333;
}

table tr td {
  padding-right: .5em;
  padding-left: .5em;
  padding-top: .25em;
  padding-bottom: .25em;
  box-sizing: border-box;
}

.teamnum_td {
  width: 110px;
}

/* Time */
.time_td {
  width: 120px;
  text-align: right;
}

/* Team */
.team_td {
  /* width: 310px; */
  text-align: center;
  font-size: .8em;
  line-height: 1em;
  width: 520px;
  padding: 5px;
  position: relative;
}

/* members */
/* table tr td:nth-child(3) { */
.members {
  display: inline-block;
  font-size: .6em;
  font-weight: lighter;
  text-align: left;
  line-height: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 510px;
}

/* status */
.results_td {
  text-align: center;
  width: 181px;
  font-size: .8em;
}

.green {
  color: lightgreen;
  font-size: 1em !important;
  font-weight: bold;
}
.red {
  color: red;
  font-weight: bold;
  font-size: 1em !important;
}
.badges {
  height: 32px;
  padding-right: 3px;
}


.db_td, .sb_td {
  padding: 0;
}

.dualBTN, .singleBTN, .singleBTNstop {
  font-size: 1.2em;
  border: 0;
}

.dualBTN {
  background-color: blue;
  height: 140px;
  weight: 101px;
}

.singleBTN {
  background-color: green;
  height: 69px;
  weight: 76px;
}

.singleBTNstop {
  background-color: red;
  height: 69px;
  weight: 76px;
}

.clock, .progress {
  display: inline-block;
}

.progress {
  font-size: .8em;
}

.badges_td {
  width: 120px;
}

.editTeam {
  position: absolute;
  top: 0;
  left: 0;
  font-size: .8em;
}

.scheduleBTNs {
  background-color: inherit;
  border: 0;
  font-size: 1em;
}

.cancelBTN {
  background-color: darkred;
}

.swapBTN {
  background-color: yellow;
  color: black;
}

.moveBTN {
  background-color: orange;
  color: black;
}

.updnBTN {
  color: #aaa;
}

#delete_team {
  background-color: red;
}

.smaller {
  font-size: .5em;
  color: white;
}
